@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    display: flex;
    height: 100vh;
    font-family: Roboto;
    margin: 0;
    background-color: steelblue;
}
.section01{
    padding: 9px;
    width: 44vh;
    height: 97vh;
}
.divperfil{
    text-align: center;
}
.imgperf{
    width: 110px;
    border-radius: 100%;
}
.divh1{
    text-align: center;
}
.divsocial{
    text-align: center;
}
.iconimg {
    width: 15%;
    padding: 3%;
}
.ulnavegacao{
    list-style: none;
    padding: 0%;
}
.iconimg2 {
    width: 15%;
    padding: 5% 7% 5% 7%;
}
.anavegacao{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    color: black;
}
.section02{
    width: 100%;
    height: 100vh;
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divlegend{
    color: #000000;
    font-size: xxx-large;
}
.divlegend p{
    margin: 0;
}